<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="cafe" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="cafe" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="cafe" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="cafe" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Food & Coffee</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/animate-css/animate.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.min.css" />

    <script src="libs/MobileServices.Web-1.2.7.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid" id="main-container">
      <div class="row" id="top-bar-container">
          <div class="col-md-1">
          </div>
          <div class="col-md-10 text-right" id="top-bar">
              <div style="float:left">
                  <img src="imgs/coffee-icon.png" width="40" height="40">
              </div>
              <div ng-show="loggedIn">
                  <div style="    display: inline-block;    vertical-align: middle;    font-family: Tahoma;    font-size: 13px;    color: white;    font-weight: bold;    text-shadow: 0px 0px 10px #666;">
                      Logged in as {{fbdata.name}}
                      <small style="color:#aaa" ng-click="logout();">Logout</small>
                  </div>
              </div>
              <div ng-hide="loggedIn">
                  <button class="btn btn-primary" ng-click="login();">Login</button>
              </div>
          </div>
          <div class="col-md-1">
          </div>
      </div>
      <div class="row" id="main-row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10" id="main-view">
              <div class="row">
                  <div class="col-md-3" id="left-side">
                      <div class="text-right">
                          <img alt="Welcome to Food & Coffee" src="imgs/coffee-icon.png" class="img-thumbnail" ng-if="!fbpicsrc">
                          <img ng-src="{{fbpicsrc}}" ng-if="fbpicsrc" style="width:75px;height:75px;border-radius:50px;box-shadow: 0px 0px 4px 2px #cecece;">
                      </div>
                      <ul id="vertical-menu">
                          <li>
                              <a href="#/main">Home</a>
                          </li>
                          <li>
                              <a href="#/order">Coffee</a>
                          </li>
                          <li>
                              <a href="#/fainon">Fainon</a>
                          </li>
                          <li>
                              <a href="#/orderfood">Food</a>
                          </li>
                          <li>
                              <a href="#/mainfood">Orders</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-9 bg" id="view" ui-view ng-class="{ 'disappear' : viewName=='home'   }" >

                  </div>
              </div>
          </div>
          <div class="col-md-1">
          </div>
      </div>
      <div class="row" id="bottom-bar-container">
          <div class="col-md-1">
          </div>
          <div class="col-md-10 text-right" id="bottom-bar">
              <div>Nikatlas.me: v<span app-version></span></div>
          </div>
          <div class="col-md-1">
          </div>
      </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="views/order/order.js"></script>
  <script src="views/food/food.js"></script>
  <script src="views/home/home.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ngstorage/ngStorage.min.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>

<script>
function fixPage(){
    $("#left-side").css("min-height", (window.innerHeight-80) + "px");
}
$(window).on('load resize',function(){
    fixPage();
});
</script>
  <span ng-include src="'tmpls/modals.html'">das</span>
</body>
</html>
